.container{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
input{
    text-align: center;
    font-weight: bold;
    width: 150px;
    height: 25px;
    margin-bottom: 14px;
    font-size: 1rem;
    border-radius: 5px;
    border : 2px solid black;
}
button{
    background-color: rgb(38, 131, 126);
    color: white;
    cursor: pointer;
    padding: auto;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
}

button:hover{
    background-color: rgb(58, 58, 233);
}

button:active{
    background-color: rgb(11, 11, 194);
}